##
# Drupal install
#

  - name: Drupal | Copy Drush Makefile
    action: copy src=drupal.make dest=/home/{{ username }}/drupal.make

  - name: Drupal | Test if Drupal Exists
    stat: path={{ drupal_path }}
    register: drupalPath

  - name: Drupal | Install Drupal & modules
    sudo: no
    action: command drush make drupal.make {{ drupal_path }}
    when: drupalPath.stat.exists == false

  - name: Drupal | Create science.nasa.dev.nasa.gov site folder
    file: path={{ drupal_path }}/sites/science.nasa.dev state=directory mode=0777

  - name: Drupal | Create ciencia.nasa.dev.nasa.gov site folder
    file: path={{ drupal_path }}/sites/ciencia.nasa.dev state=directory mode=0777

  - name: Drupal | Create science.nasa.dev.nasa.gov setting.py file
    action: template src=drupal/sites/science/settings-php.j2 dest={{ drupal_path }}/sites/science.nasa.dev/settings.php mode=0777 owner={{ username }} group={{ username }}

  - name: Drupal | Create ciencia.nasa.dev.nasa.gov setting.py file
    action: template src=drupal/sites/ciencia/settings-php.j2 dest={{ drupal_path }}/sites/ciencia.nasa.dev/settings.php mode=0777 owner={{ username }} group={{ username }}

  - name: Drupal | Create science.nasa.dev.nasa.gov files directory
    action: file path={{ drupal_path }}/sites/science.nasa.dev/files state=directory mode=0777 owner={{ username }} group={{ username }}

  - name: Drupal | Create ciencia.nasa.dev.nasa.gov files directory
    action: file path={{ drupal_path }}/sites/ciencia.nasa.dev/files state=directory mode=0777 owner={{ username }} group={{ username }}

#  This drops the database. Should be used only on initialization of website.
  - name: Drupal | science.nasa.dev Install
    action: command drush --root={{ drupal_path }} -y site-install standard --db-url=mysql://{{ science_db_username }}:{{ science_db_password }}@{{ science_db_host }}:{{ science_db_port }}/{{ science_db_name }} --site-name="science.nasa.dev" --account-name=admin --account-pass=admin --sites-subdir=science.nasa.dev
    tags:
        - init

#  This drops the database. Should be used only on initialization of website.
  - name: Drupal | ciencia.nasa.dev Install
    action: command drush --root={{ drupal_path }} -y site-install standard --db-url=mysql://{{ ciencia_db_username }}:{{ ciencia_db_password }}@{{ ciencia_db_host }}:{{ ciencia_db_port }}/{{ ciencia_db_name }} --site-name="ciencia.nasa.dev" --account-name=admin --account-pass=admin --sites-subdir=ciencia.nasa.dev
    tags:
        - init

  - name: Drupal | Add Libraries & Modules
    sudo: no
    local_action: >
                command
                rsync
                -e 'ssh -p 2222'
                -rvz
                --rsync-path="sudo rsync"
                ../roles/drupal-install/files/science/{{ item }}
                $username@$inventory_hostname:$drupal_path/sites/science.nasa.dev/
    with_items:
        - libraries
        - modules
        - themes

#  - name: Drupal | Add ciencia.nasa.dev Theme
#    copy: src=../roles/drupal-install/files/ciencia.nasa.dev/themes dest={{ drupal_path }}sites/ciencia.nasa.dev/

  - name: Drupal | Enable science.nasa.dev theme
    command: drush --root={{ drupal_path }} en -y -l science.nasa.dev nasa_science

  - name: Drupal | Set science.nasa.dev theme
    command: drush --root=/home/ubuntu/www/drupal -l science.nasa.dev vset -y theme_default nasa_science

#  - name: Drupal | Enable ciencia.nasa.dev theme
#    command: drush --root=/home/ubuntu/www/drupal -l ciencia.nasa.dev vset -y theme_default nasa_ciencia

  - name: Drupal | Enable drupal modules
    action: command drush --root={{ drupal_path }} en -y -l science.nasa.dev {{ item }}
    with_items: drush_modules

  - name: Drupal | Enable custom modules
    command: drush --root={{ drupal_path }} en -y -l science.nasa.dev nasa_customization_feature

#  - name: Drupal | Revert custom modules
#    command: drush --root={{ drupal_path }} fr -y -l science.nasa.dev nasa_customization_feature

  - name: Drupal | Turn off Display Settings
    command: drush --root={{ drupal_path }} vset -y -l science.nasa.dev node_submitted_{{ item }} 0
    with_items: science_modules

  - name: Drupal | Turning off Promote to Front Page
    command: drush --root={{ drupal_path }} vset --format=json -l science.nasa.dev node_options_{{ item }} ['status']
    with_items: science_modules

  - name: Drupal | Turning off Clean URLs
    action: command drush --root={{ drupal_path }} vset -l {{ item }} clean_url 0
    with_items:
        - science.nasa.dev
        - ciencia.nasa.dev

  - name: Drupal Cleanup | Reset permissions for science.nasa.dev's site
    action: file path={{ drupal_path }}/sites/science.nasa.dev state=directory mode=0755

  - name: Drupal Cleanup | Reset permissions for science.nasa.dev's settings file
    action: file path={{ drupal_path }}/sites/science.nasa.dev/settings.php state=file  mode=0644

  - name: Drupal Cleanup | Reset permissions for ciencia.nasa.dev's site
    action: file path={{ drupal_path }}/sites/ciencia.nasa.dev state=directory mode=0755

  - name: Drupal Cleanup | Reset permissions for ciencia.nasa.dev's settings file
    action: file path={{ drupal_path }}/sites/ciencia.nasa.dev/settings.php state=file  mode=0644

  - name: Drupal | Symlinking ciencia.nasa.dev
    file: src={{ drupal_path }} dest={{drupal_path}}/../{{ item }} state=link
    with_items:
        - science.nasa.dev
        - ciencia.nasa.dev

