<VirtualHost *:80>
    ServerAdmin {{ apache_server_admin }}

    VirtualDocumentRoot /home/{{ username }}/www

    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>

    <Directory /home/{{ username }}/www/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog /var/log/apache2/error.log

</VirtualHost>